/* Import CSS reset */
@import url('reset.css');
@import url("modules.css");
@import url("effects.css");

/* CSS variables */
:root {
  --card-grid-border: black 5px solid;
}

/* Testing style */
/* * {
  border: blue 1px dashed;
  margin: 5px
} */

/* Main Layout */
body {
  min-width: 320px;
  margin: 10px;
}

main, footer {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

main {
  flex: 1;
  min-height: 80vh;
}

hr {
  height: 2px;
  background-color: black;
  color: black;
  margin: 30px 0px 30px 0px ;
}

img {
  height: 500px;
  width: auto;
  border: white solid 5px;
  border-radius: 20px;
  margin: 20px 20px;
  box-shadow: 
    -5px -5px 15px rgba(0, 0, 0, 0.2),  /* top-left shadow */
    5px 5px 50px rgba(0, 0, 0, 0.3);
}

html, body {
  font-size: 16px; /* Base size for rem scaling */
  font-family: 'Ubuntu', serif;
  font-weight: 300;
  
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 0.95rem;
  /* font-style: italic; */
}

a {
  font-size: 1rem;
}