.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 50px;
    margin: 50px 0px;
    background: linear-gradient(90deg, #F66235, #F4382E);
    box-shadow: var(--card-shadow);
    border-radius: var(--border-radius);

    @media (min-width: 760px) {
        flex-direction: row;
        gap: 20px;
    }    
}

.card-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;

    & h2 {
        padding: 20px 0px;
    }

    & p {
        border-top: white 5px solid;
        padding: 30px 0px;
    }
}


  
