/* Body style */
body {
  min-width: 320px;
}


/* Horizontal bars*/
.horbar {
  display: flex;
  justify-content: end;
}


/* Max width of main, footer */
main, footer {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

main {
  flex: 1;
  min-height: 90vh;
}