footer {
    display: flex;
    justify-content: left;
    
  }
  
header {
    display: flex;
    justify-content: right;
    margin: 25px 0px 0px 0px;  
    font-weight: 500;

    & a {
        padding: 0px 10px;
    }
}

.title {
    white-space: nowrap;

    @media (max-width: 750px) {
        white-space: normal;

        span {
            display: block;
        }    
    }
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 50px;
    background: linear-gradient(90deg, #F4382E, #F66235);
    box-shadow: 6px 6px 15px rgb(30, 30, 30);
    border-radius: 5px;


    @media (min-width: 760px) {
        flex-direction: row;
    }
    
}

.card__text {
    display: grid;
    grid-template-rows: 100px 100px; 
    gap: 0px; 
    width: 100%;
    margin: 5px;
    color: white;

    & p {
        border-top: white 5px solid;
        padding-top: 15px;
    }
}


  
