/** Layout Components */
.pnl {
  @apply max-w-pnl w-full m-auto;
}

.cnt {
  @apply max-w-cnt w-full m-auto px-2;
}

.int {
  /** Hero text */
  @apply flex flex-col justify-center;
  height: 500px;
}

@media (max-height: 600px) {
  .int {
    min-height: 100vh;
    height: auto;
  }
}

/* Text */
.clm-2 {
  @apply [column-count:2] [column-gap:2rem] max-[550px]:[column-count:1];
}

.clm-2 p {
  @apply mb-6;
}

.nowrap {
  @apply inline-block whitespace-nowrap;
}

/** Buttons*/
.btn-beh {
  @apply cursor-pointer rounded-full border-0 font-bold;
  @apply shadow-btn active:shadow-none dark:shadow-none;
  @apply inline-flex text-center no-underline items-center justify-center align-middle;
}

.btn-rec {
  @apply w-[var(--width-btn)] h-[var(--height-btn)];
}

.btn-lnk {
  @apply bg-none border-none p-0 cursor-pointer ml-1;
}

. .btn-car {
  @apply absolute top-1/2 z-icn bg-none border-none cursor-pointer;
}

.btn-chv {
  @apply w-12 h-12 absolute bg-white rounded-full flex items-center justify-center shadow-btn -top-6 right-1 z-icn;
  @apply hover:bg-gray-200;
}

.btn-green {
  @apply hover:from-[var(--color-btn-200)] bg-gradient-to-r from-[var(--color-btn-100)] to-[var(--color-btn-200)];
  @apply text-white font-bold;
}

.btn-blue {
  @apply text-black hover:from-[var(--color-btn2-200)] bg-gradient-to-r from-[var(--color-btn2-100)] to-[var(--color-btn2-200)];
  @apply text-black font-normal;
}

/** Links */
.lnk {
  @apply hover:underline hover:font-bold inline-block min-w-[40px] text-center;
}
/** Icons */
.icn {
  @apply w-[var(--size-icn)] h-[var(--size-icn)] rounded-full flex items-center justify-center border-0;
}

/** Every svg should react to bg, fill, stroke color, stroke width, a dark mode */
.icn-git {
  @apply bg-none fill-white  bg-black;
  @apply dark:fill-black  dark:bg-white;
}

.icn-black {
  @apply bg-none fill-none stroke-black dark:stroke-white;
}

.icn-theme {
  @apply bg-none fill-black stroke-black dark:fill-white dark:stroke-white cursor-pointer;
}

.icn-chv {
  @apply bg-none fill-white stroke-0;
}
