form {
  display: flex;
  flex-direction: column;
  gap: var(--gap-size);
}

form > label {
  display: flex;
  flex-direction: column;
  font-weight: var(--normal-font-weight);
}

input,
textarea,
button {
  width: 100%;
  font-weight: var(--normal-font-weight);
  border-radius: var(--border-radius);
  border: 1px black solid;
  font-size: 1rem;
}

form input {
  height: 25px;
  padding: var(--pading-size);
}

textarea {
  height: 100px;
  resize: vertical;
  padding: var(--pading-size);
}

form button {
  color: white;
  font-weight: var(--bold-font-weight);
  padding: 10px 20px;
  align-self: flex-end;
  cursor: pointer;
  background: linear-gradient(to right, #23ae19, #018f06);
  border-radius: var(--border-radius);
  border: none;
}

form p {
  align-self: flex-end;
}

@media (max-width: 600px) {
  label {
    flex-direction: column;
  }

  input,
  textarea,
  button {
    width: 100%;
  }
}
