/* Import */
@import url("./variables.css");
@import url("./styling.css");

/** tailwind import */
@import "tailwindcss";

@theme {
  --color-A-100: white; /* Sidepanels background */
  --color-A-200: #ffffff; /* Top background */
  --color-A-300: #efefef; /* Alternate background color */
  --color-button-100: #8ed1fc; /* Button background */
  --color-button-200: #68c2fbff; /* Button hover background */
}

@theme {
  --font-base: "Ubuntu", serif; /* Paragraphs, Links, Buttons */
  --font-headings: "Montserrat", serif; /* Headings */
}

@theme {
  --spacing: 4px; /* General spacing unit */
}

/** Base Styles */

html {
  font-size: 14px;
  @apply font-base text-black dark:text-white font-light leading-[1.5];
}

h1,
h2,
h3,
h4,
h5 {
  @apply font-headings font-bold leading-[1.2];
}

body {
  @apply bg-A-200 min-w-xs max-w-5xl m-auto overflow-y-auto shadow-2xl min-h-screen;
  @apply flex flex-col items-start;
}

main {
  flex: 1;
}

/** Component size */

.panel {
  @apply w-5xl m-auto;
}

.content {
  @apply w-4xl m-auto py-4;
}

.button {
  @apply w-[200px] h-[40px] cursor-pointer text-white rounded-[25px] border-0 font-bold;
}

.gitIcon {
  @apply w-7 h-7 rounded-full flex items-center justify-center border-0 bg-none fill-white  bg-black; /** TODO: set for dark mode */
}

.icon {
  @apply w-7 h-7 rounded-full flex items-center justify-center border-0 bg-none fill-none stroke-black stroke-[1.8];
}

/** Component styling */

.shadow {
  /* TODO: redo to tailwind */
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
}

.bg-gradient-primary {
  /* TODO: redo to tailwind */
  background: linear-gradient(
    to right,
    var(--color-primary-1),
    var(--color-primary-2)
  );
  color: black;
}

.bg-gradient-primary:hover {
  /* TODO: redo to tailwind */
  background: var(--color-primary-2);
}

.button-green {
  /* TODO: redo to tailwind */
  background: linear-gradient(
    to right,
    var(--color-secondary-1),
    var(--color-secondary-2)
  );
}

.button-green:hover {
  /* TODO: redo to tailwind */
  background: var(--color-secondary-2);
}

/*Layout */

section:nth-of-type(odd) {
  background-color: var(--background-color-2); /** Alternate background color */
}

footer {
  padding: var(--gap-small) 0px;
  align-items: right;
  align-content: right;
  self-align: right;
}

input,
textarea {
  width: 100%;
  padding: var(--gap-tiny);
  color: var(--color);
  background-color: var(--background-color-1);

  font-size: 1rem;
  font-weight: var(--normal-font-weight);

  border: 1px var(--color) solid;
  border-radius: var(--border-radius);
  margin: 0px;
}

input {
  height: 25px;
}

textarea {
  height: 100px;
  resize: vertical;
  margin-bottom: -3px;
}

form {
  margin-top: var(--gap-small);
}

a,
a svg {
  cursor: pointer;
}

.button-transparent {
  background: none;
  cursor: pointer;
  border: none;
  color: var(--color);
}

.link-button {
  display: inline-flex;
  text-align: center;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.shadow:active {
  box-shadow: none;
}

/* Link style for inline links and buttons */
.link {
  color: var(--color-link);
  text-decoration: underline;
  font-family: var(--font-normal);
  font-weight: var(--normal-font-weight);
  font-size: 1rem;
  background: none;
  border: "none";
  padding: 0;
  cursor: "pointer";
  marginleft: "5px";
}

span {
  display: inline-block;
  white-space: nowrap;
}
