/** Global Stylesheet */

/* Import */
@import url("./reset.css");
@import url("./variables.css");
@import url("./utility.css");
@import url("./text.css");

/*Layout */
html {
  background-color: var(--background-color-0);
}

body {
  max-width: var(--background-width);
  background-color: var(--background-color-1);
  min-width: 300px;
  margin: 0 auto;
  overflow-y: scroll;
  box-shadow: var(--card-shadow);
}

main {
  min-height: 75vh;
}

section:nth-of-type(odd) {
  background-color: var(--background-color-2); /** Alternate background color */
}

footer {
  padding: var(--gap-small) 0px;
}

input,
textarea {
  width: 100%;
  padding: var(--gap-tiny);
  color: var(--color);
  background-color: var(--background-color-1);

  font-size: 1rem;
  font-weight: var(--normal-font-weight);

  border: 1px var(--color) solid;
  border-radius: var(--border-radius);
  margin: 0px;
}

input {
  height: 25px;
}

textarea {
  height: 100px;
  resize: vertical;
  margin-bottom: -3px;
}

form {
  margin-top: var(--gap-small);
}

a,
a svg {
  cursor: pointer;
}

/* Component Styles */
.button {
  width: 200px;
  height: 40px;
  cursor: pointer;

  color: white;
  background: linear-gradient(
    to right,
    var(--button-color-1),
    var(--button-color-2)
  );

  font-weight: var(--bold-font-weight);

  border-radius: 25px;
  border: none;
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
}
