/* input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
} */

/* form {
  font-family: var(--font-normal);
  font-size: 1rem;
  line-height: 1.5;
} */

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

/* .success-message {
  color: var(--success-color);
} */

/* .fail-message {
  color: var(--error-color);
} */
