/* Text Styles */
html {
  font-family: var(--font-normal);
  font-weight: var(--normal-font-weight);
  color: var(--color);
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

form {
  font-family: var(--font-normal);
  font-size: 1rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-headings);
  font-weight: var(--bold-font-weight);
  line-height: 1.2;
  letter-spacing: 0em;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

p,
a {
  font-family: var(--font-normal);
  font-size: 1rem;
  line-height: 1.5;
}

.success-message {
  color: var(--success-color);
}

.fail-message {
  color: var(--error-color);
}
