/* Text Styles */
html {
  font-size: 14px;
  font-family: var(--font-normal);
  font-weight: var(--normal-font-weight);
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-headings);
  font-weight: var(--bold-font-weight);
  line-height: 1.2;
  letter-spacing: -0.02em;
}

h1 {
  font-size: 3rem;
  /* margin: 2rem 0 0.5rem 0; */
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

p,
a {
  font-size: 1rem;
  line-height: 1.5;
}
