/** Utility CSS classes */

.flex-row {
  display: flex;
  flex-direction: row;
  gap: var(--gap-size);
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: var(--gap-size);
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}
