/** Utility CSS classes */

/** Flexbox Utilities */
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row-col {
  display: flex;
  flex-direction: row;
}

.grid {
  display: grid;
  grid-template-columns: 150px 1fr;
}

@media (max-width: 600px) {
  .flex-row-col {
    flex-direction: column;
  }
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.align-right {
  align-items: end;
}

.self-center {
  align-self: center;
}

.align-end {
  align-self: flex-end;
}

/** Text Utilities */
strong {
  font-weight: bold;
}

text-left {
  text-align: left;
}

/** Size Utilities */
.w-column {
  max-width: var(--column-width);
}

.w-main {
  max-width: var(--main-width);
  margin: 0 auto;
  padding: 0px var(--gap-small);
}

/** Spacing Utilities */
.gap-tiny {
  gap: var(--gap-tiny);
}

.gap-small {
  gap: var(--gap-small);
}

.gap-medium {
  gap: var(--gap-medium);
}

.gap-big {
  gap: var(--gap-big);
}

.gap-large {
  gap: var(--gap-large);
}

.py-small {
  padding-top: var(--gap-small);
  padding-bottom: var(--gap-small);
}

.py-medium {
  padding-top: var(--gap-medium);
  padding-bottom: var(--gap-medium);
}

.py-big {
  padding-top: var(--gap-big);
  padding-bottom: var(--gap-big);
}

.py-large {
  padding-top: var(--gap-large);
  padding-bottom: var(--gap-large);
}

.pb-small {
  padding-bottom: var(--gap-small);
}

.pb-large {
  padding-bottom: var(--gap-large);
}

.my-small {
  margin-top: var(--gap-small);
  margin-bottom: var(--gap-small);
}

.my-big {
  margin-top: var(--gap-big);
  margin-bottom: var(--gap-big);
}

.my-medium {
  margin-top: var(--gap-medium);
  margin-bottom: var(--gap-medium);
}

.mb-big {
  margin-bottom: var(--gap-big);
}

.bg-color-1 {
  background-color: var(--background-color-1);
}
