:root {
  /* Text */
  font-size: 14px;
  --font-normal: "Ubuntu", serif; /* Paragraphs, Links, Buttons */
  --font-headings: "Montserrat", serif; /* Headings */

  /* Borders */
  --border-radius: 2px; /* Border radius for inputs, cards, buttons */

  /* Spacing */
  --gap-xlarge: 12rem; /* Intro vertical padding */
  --gap-large: 6rem; /* Section vertical padding */
  --gap-big: 3rem; /* Header top/bottom padding */
  --gap-medium: 1.33rem;
  --gap-small: 0.66rem;
  --gap-tiny: 0.33rem; /* Section horizontal padding */

  /* Sizes */
  --background-width: 1000px; /* Width for background elements */
  --main-width: 700px; /* Max width for header, main, footer content */
  --column-width: 300px; /* Max width for text content */
  --button-width: 100px; /* Width for buttons */
  --button-height: 35px; /* Height for buttons */
  --icon-size: 24px; /* Size for icons */

  /* Font Weights */
  --normal-font-weight: 300;
  --bold-font-weight: 700;

  /* Colors */

  --color-primary-1: #ed504dff; /* Gradient color 1 for buttons */
  --color-primary-2: #eb3431ff; /* Gradient color 2 for buttons */
  --color-secondary-1: #23ae19; /* Secondary color for highlights */
  --color-secondary-2: #018f06; /* Secondary color 2 for highlights */
}

@media (min-height: 500px) and (max-height: 799px) {
  :root {
    --gap-xlarge: 8rem;
  }
}

@media (max-height: 499px) {
  :root {
    --gap-xlarge: 3rem;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color-0: #ffffff; /* Background color 0 for html */
    --background-color-1: #ffffff; /* Background color 1 for body, tabs */
    --background-color-2: #efefef; /* Background color 2 for tabs */
    --color: black;
    --card-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.05);
    --button-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color-0: #0e0e0eff; /* Background color 0 for html */
    --background-color-1: #1a1a1aff; /* Background color 1 for body, tabs */
    --background-color-2: #1d1d1dff; /* Background color 2 for tabs */
    --color: #ffffff;
    --card-shadow: none;
    --button-shadow: none;
  }
}
