.project > :nth-child(odd) {
  background-color: var(--background-color-2);
}

.screenshot {
  width: 280px;
  height: 498px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  display: block;
  margin: 20px auto;
}
