.card {
  min-height: 200px;
  padding-top: var(--gap-large);
  padding-bottom: var(--gap-large);
}

@media (max-width: 560px) {
  .skills {
    display: flex;
    flex-direction: column;
  }

  .skills > *:nth-child(even) {
    margin-bottom: 10px; /* extra gap for every even child */
  }
}
