.intro {
  text-align: left;
  background-color: var(--background-color-1);
  padding: var(--gap-large) 0px;
}

.intro-title {
  padding-bottom: var(--gap-large);
}

.skills {
  display: grid;
  grid-template-columns: 150px 1fr;
  font-size: 0.8rem;
  text-align: left;
  margin-top: var(--gap-small);
}

.link {
  color: blue;
  text-decoration: underline;
}

span {
  display: inline-block;
  white-space: nowrap;
}

@media (max-width: 560px) {
  .skills {
    display: flex;
    flex-direction: column;
  }

  .skills > *:nth-child(even) {
    margin-bottom: 10px; /* extra gap for every even child */
  }
}
