.skills {
  display: grid;
  grid-template-columns: 150px 1fr;
  margin-top: var(--gap-tiny);
}

span {
  display: inline-block;
  white-space: nowrap;
}

.link {
  color: blue;
  text-decoration: underline;
}

@media (max-width: 560px) {
  .skills {
    display: flex;
    flex-direction: column;
  }

  .skills > *:nth-child(even) {
    margin-bottom: var(--gap-tiny); /* extra gap for every even child */
  }
}
