.nowrap {
  white-space: nowrap;
}

.title {
  margin: 80px 0px 60px 0px;
}

strong {
  font-weight: bold;
}

.technologies {
  margin: 50px 0px;
  display: grid;
  grid-template-columns: 200px 1fr;
}

.link {
  color: blue;
  text-decoration: underline;
}

/* Light and Dark modes */
@media (prefers-color-scheme: dark) {
  .link {
    color: #138ef2;
    text-decoration: underline;
  }
}

@media (max-width: 560px) {
  .title span {
    display: block;
  }

  .technologies {
    grid-template-columns: 1fr;
    row-gap: 10px;
  }
}
