.group {
  border-bottom: 2px solid linear-gradient(90deg, #f66235, #f4382e);
  margin: 10px 0px;
  /* border-bottom: 1px solid #f4382e; */
}

.bar {
  width: 100%;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0px 20px;
  color: white;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.default-bar-color {
  background: linear-gradient(90deg, var(--card-color-1), var(--card-color-2));
  /* box-shadow: var(--card-shadow); */
}

.inactive-bar-color {
  background: linear-gradient(90deg, #969696, #8c8c8c);
}

.text-container {
  padding: 20px;

  border-left: 1px dashed #f4382e;
  border-right: 1px dashed #f4382e;
  border-bottom: 1px dashed #f4382e;
}

.inactive-text-container {
  border-left: 1px dashed #969696;
  border-right: 1px dashed #969696;
  border-bottom: 1px dashed #969696;
}
